 <div class="container">
  <%= form_for @course do |f| %>
    <div class="form-group">
      <%= f.label :title, '名稱' %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, '介紹' %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :school_id, '學校' %>
      <%= f.select :school_id, School.all.collect { |s| [s.name, s.id] }, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :license_id, '證照' %>
      <%= f.select :license_id, License.all.collect { |l| [l.title, l.id] }, class: "form-control" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit '送出', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
