 <div class="container"> 
  <h2 class="text-center">課程列表</h2>
  <%= link_to '回首頁', factory_root_path, class: "btn btn-success" %>
  <%= link_to '加入課程', new_factory_course_path, class: "btn btn-info" %>
  <table class="table table-hover">
    <thead>
      <th>名稱</th>
      <th>學校</th>
      <th>證照</th>
      <th>修改</th>
      <th>刪除</th>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, factory_course_path(course) %></td>
        <td><%= course.school.name %></td>
        <td><%= course.license.title %></td>
        <td><%= link_to '修改', edit_factory_course_path(course), class: "btn btn-warning btn-md" %></td>
        <td><%= link_to '刪除', factory_course_path(course), method: :delete, class: "btn btn-danger btn-md" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
