<div class="admin-container">
  <%= simple_form_for @reservation , url: admin_school_reservations_path do |f| %>
    <%= f.input :subject , label: "課程", class: "form-control" %>
    <%= f.input :location, label: "地點", class: "form-control" %>
    <%= f.input :datetime, label: "選擇日期", class: "form-control" %>
    <%= f.button :submit, "建立預約活動", class: "form-control" %>
  <% end %>
</div>

