 <div class="container">
  <%= form_for @school do |f| %>
    <div class="form-group">
      <%= f.label :name, '名稱' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, '介紹' %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :continent, '州別' %>
      <%= f.text_field :continent, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address, '地址' %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, '信箱' %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, '圖片' %> (350x250)
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit '送出', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
