<div id="reservation-index" class="container">
  <div class="reservation-title">
    <h2>與學校面對面</h2>
  </div>
  <div class="reservation-group">
    <% @reservations.each do |reservation| %>
    <div class="reservation-card">
      <div class="reservation-info">
        <ul class="list-unstyled">
          <li><%= image_tag 'subject.png', class: 'instance-icon' %><%= reservation.subject %></li>
          <li><%= image_tag 'location.png', class: 'instance-icon' %><%= reservation.location %></li>
          <li><%= image_tag 'calendar.png', class: 'instance-icon' %><%= reservation.datetime %></li>
        </ul>
        <div class="reservation-situation">
          目前預約人數： 2 位
        </div>
      </div>
      <div class="btn-group clearfix">
        <%= link_to '學校資訊', schools_path, class: ['reservation-btn pull-left'] %>
        <%= link_to '+1我要預約', participate_reservation_path(reservation), class: ['reservation-btn pull-right'] %>
      </div>
    </div>
    <% end %>
  </div>
</div>
