<div class="containe">
  <%= form_for @activity do |f| %>
    <div class="form-group">
      <%= f.label :subject, '名稱' %>
      <%= f.text_field :subject, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, '介紹' %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :location, '地區' %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :presenter_name, '講師' %>
      <%= f.text_field :presenter_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :presenter_info, '講師介紹' %>
      <%= f.text_area :presenter_info, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :organizer, '主辦單位' %>
      <%= f.text_field :organizer, class: "form-control" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit '送出', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
