<div id="school-index" class="container">
  <div class="school-title">
    <h2>學校夥伴</h2>
  </div>
  <div class="school-group">
    <% @schools.each do |school| %>
    <div class="school-card">
      <%= image_tag school.image_url.to_s %>
      <div class="school-info">
        <ul class="list-unstyled">
          <li><%= image_tag 'school.png', class: 'instance-icon' %><%= school.name %></li>
          <li><%= image_tag 'location.png', class: 'instance-icon' %><%= school.continent %></li>
          <li><%= image_tag 'thumb.png', class: 'instance-icon' %><%= school.likes.count %></li>
        </ul>
      </div>
      <%= link_to 'more+', school_path(school), class: ['school-btn']%>
    </div>
    <% end %>
  </div>
</div>