 <div class="container">
  <%= form_for @expert do |f| %>
    <div class="form-group">
      <%= f.label :name, '名字' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subject, '介紹' %>
      <%= f.text_field :subject, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :video_url, '影片網址' %>
      <%= f.text_field :video_url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :article, '分享文章' %>
      <%= f.text_field :article, class: "form-control" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit '送出', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
