<div class="container">
  <h2 class="text-center">達人列表</h2>
  <%= link_to '回首頁', root_path, class: "btn btn-success" %>
  <%= link_to '加入達人', new_expert_path, class: "btn btn-info" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名字</th>
        <th>主題</th>
        <th>修改</th>
        <th>刪除</th>
      </tr>
    </thead>
    <tbody>
      <% @experts.each do |expert| %>
      <tr>
        <td><%= link_to expert.name, expert_path(expert) %></td>
        <td><%= expert.subject %></td>
        <td><%= link_to '修改', edit_expert_path(expert), class: "btn btn-warning btn-md" %></td>
        <td><%= link_to '刪除', expert_path(expert), method: :delete, class: "btn btn-danger btn-md" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
