<nav>
  <div class="container">
    <ul class="list-inline">
      <li><%= image_tag 'expert_nav.png', class: 'nav-icon' %><%= link_to '證照達人養成', category_path(id: 1) %></li>
      <li><%= image_tag 'activity_nav.png', class: 'nav-icon' %><%= link_to '留學說明會', activities_path %></li>
      <li><%= image_tag 'facing_nav.png', class: 'nav-icon' %><%= link_to '學校面對面', reservations_path %></li>
      <li><%= image_tag 'sharing_nav.png', class: 'nav-icon' %><%= link_to '達人分享', experts_path %></li>
      <li><%= image_tag 'school_nav.png', class: 'nav-icon' %><%= link_to '學校夥伴', schools_path %></li>
    </ul>
  </div>
</nav>