<!DOCTYPE html>
<html>
<head>
  <title>Justudy 學校後台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="admin" class="container">
    <%= render "common/admin_header" %>
    <%= render "common/flashes" %>
    <div class="row">
      <div class="col-md-2">
        <%= render "common/admin_navbar" %>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
