<!DOCTYPE html>
<html>
<head>
  <title>Justudy 學校後台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render "common/flashes" %>
  <%= render "common/admin_navbar" %>
  <%= render "common/admin_header" %>

  <div id="charts-modal" class="modal fade"></div>
  <div id="product-modal" class="modal fade"></div>
  
</body>
</html>
