<div id="expert-show" class="container">
  <%= image_tag @expert.banner_image_url.to_s %>
  <div class="expert-title">
    <h2><%= @expert.subject %></h2>
  </div>
  <hr>
  <div class="expert-info">
    <ul class="list-unstyled">
      <li>主講人：<%= @expert.name %></li>
      <li>課程：<%= @expert.course.title %></li>
    </ul>
    <ul class="list-inline">
      <li><a href="#content">分享內容</a></li>
      <li><a href="#description">達人介紹</a></li>
    </ul>
  </div>
  <hr>
  <div id="content">
    <div class="subtitle"><h3>分享內容</h3></div>
    <p class="article"><%= @expert.article %></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @expert.video_url %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <hr>
  <div id="description">
    <div class="subtitle"><h3>達人介紹</h3></div>
    <%= image_tag @expert.avatar_image_url.to_s, class: 'avatar' %>
    <div class="expert-name">達人名字：<%= @expert.name %></div>
  </div>
</div>
